<a href="https://colab.research.google.com/github/mayureshpawashe/ad_spark/blob/main/ad_spark_day3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
import urllib.request
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('Ad Spark day3 ').getOrCreate()
url = "https://raw.githubusercontent.com/prasertcbs/basic-dataset/refs/heads/master/Restaurant%20customer%20data.csv"
file_path = "/tmp/Restaurant_customer_data.csv"
urllib.request.urlretrieve(url, file_path)
df = spark.read.csv(file_path, header=True, inferSchema=True)
df.show(10)

+------+---------+-----------+------+--------------+----------------+--------+---------+--------------+-----------+----------+----------+-------------------+--------+------------+------+------+------+------+
|userID| latitude|  longitude|smoker|   drink_level|dress_preference|ambience|transport|marital_status|      hijos|birth_year|  interest|        personality|religion|    activity| color|weight|budget|height|
+------+---------+-----------+------+--------------+----------------+--------+---------+--------------+-----------+----------+----------+-------------------+--------+------------+------+------+------+------+
| U1001|22.139997|-100.978803| false|    abstemious|        informal|  family|  on foot|        single|independent|      1989|   variety|  thrifty-protector|    none|     student| black|    69|medium|  1.77|
| U1002|22.150087|-100.983325| false|    abstemious|        informal|  family|   public|        single|independent|      1990|technology|hunter-ostentatious|Catholic|     student|   red|    40|   low|  1.87|
| U1003|22.119847|-100.946527| false|social drinker|          formal|  family|   public|        single|independent|      1989|      none|        hard-worker|Catholic|     student|  blue|    60|   low|  1.69|
| U1004|   18.867|    -99.183| false|    abstemious|        informal|  family|   public|        single|independent|      1940|   variety|        hard-worker|    none|professional| green|    44|medium|  1.53|
| U1005|22.183477|-100.959891| false|    abstemious|   no preference|  family|   public|        single|independent|      1992|      none|  thrifty-protector|Catholic|     student| black|    65|medium|  1.69|
| U1006|    22.15|   -100.983|  true|social drinker|   no preference| friends|car owner|        single|independent|      1989|   variety|        hard-worker|    none|     student|  blue|    75|medium|   1.8|
| U1007|22.118464|-100.938256| false|casual drinker|        informal|solitary|   public|        single|independent|      1989|   variety|  thrifty-protector|Catholic|     student|purple|    60|   low|  1.59|
| U1008|22.122989|-100.923811| false|social drinker|          formal|solitary|   public|        single|independent|      1989|technology|        hard-worker|Catholic|     student| green|    68|   low|  1.72|
| U1009|22.159427|-100.990448| false|    abstemious|          formal|  family|  on foot|        single|       kids|      1991|   variety|  thrifty-protector|Catholic|     student| green|    75|medium|  1.78|
| U1010|22.190889|-100.998669| false|social drinker|   no preference| friends|car owner|       married|       kids|      1987|technology|        hard-worker|    none|     student| green|    40|medium|  1.67|
+------+---------+-----------+------+--------------+----------------+--------+---------+--------------+-----------+----------+----------+-------------------+--------+------------+------+------+------+------+
only showing top 10 rows

##Schema Basics, Inference

In [12]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("Schema Inference").getOrCreate()

# Read CSV with schema inference
df = spark.read.option("header", "true") \
               .option("inferSchema", "true") \
               .option("delimiter", ",") \
               .csv("/tmp/Restaurant_customer_data.csv")

df.show(10, truncate=False)


df.printSchema()

+------+---------+-----------+------+--------------+----------------+--------+---------+--------------+-----------+----------+----------+-------------------+--------+------------+------+------+------+------+
|userID|latitude |longitude  |smoker|drink_level   |dress_preference|ambience|transport|marital_status|hijos      |birth_year|interest  |personality        |religion|activity    |color |weight|budget|height|
+------+---------+-----------+------+--------------+----------------+--------+---------+--------------+-----------+----------+----------+-------------------+--------+------------+------+------+------+------+
|U1001 |22.139997|-100.978803|false |abstemious    |informal        |family  |on foot  |single        |independent|1989      |variety   |thrifty-protector  |none    |student     |black |69    |medium|1.77  |
|U1002 |22.150087|-100.983325|false |abstemious    |informal        |family  |public   |single        |independent|1990      |technology|hunter-ostentatious|Catholic|student     |red   |40    |low   |1.87  |
|U1003 |22.119847|-100.946527|false |social drinker|formal          |family  |public   |single        |independent|1989      |none      |hard-worker        |Catholic|student     |blue  |60    |low   |1.69  |
|U1004 |18.867   |-99.183    |false |abstemious    |informal        |family  |public   |single        |independent|1940      |variety   |hard-worker        |none    |professional|green |44    |medium|1.53  |
|U1005 |22.183477|-100.959891|false |abstemious    |no preference   |family  |public   |single        |independent|1992      |none      |thrifty-protector  |Catholic|student     |black |65    |medium|1.69  |
|U1006 |22.15    |-100.983   |true  |social drinker|no preference   |friends |car owner|single        |independent|1989      |variety   |hard-worker        |none    |student     |blue  |75    |medium|1.8   |
|U1007 |22.118464|-100.938256|false |casual drinker|informal        |solitary|public   |single        |independent|1989      |variety   |thrifty-protector  |Catholic|student     |purple|60    |low   |1.59  |
|U1008 |22.122989|-100.923811|false |social drinker|formal          |solitary|public   |single        |independent|1989      |technology|hard-worker        |Catholic|student     |green |68    |low   |1.72  |
|U1009 |22.159427|-100.990448|false |abstemious    |formal          |family  |on foot  |single        |kids       |1991      |variety   |thrifty-protector  |Catholic|student     |green |75    |medium|1.78  |
|U1010 |22.190889|-100.998669|false |social drinker|no preference   |friends |car owner|married       |kids       |1987      |technology|hard-worker        |none    |student     |green |40    |medium|1.67  |
+------+---------+-----------+------+--------------+----------------+--------+---------+--------------+-----------+----------+----------+-------------------+--------+------------+------+------+------+------+
only showing top 10 rows

root
 |-- userID: string (nullable = true)
 |-- latitude: double (nullable = true)
 |-- longitude: double (nullable = true)
 |-- smoker: string (nullable = true)
 |-- drink_level: string (nullable = true)
 |-- dress_preference: string (nullable = true)
 |-- ambience: string (nullable = true)
 |-- transport: string (nullable = true)
 |-- marital_status: string (nullable = true)
 |-- hijos: string (nullable = true)
 |-- birth_year: integer (nullable = true)
 |-- interest: string (nullable = true)
 |-- personality: string (nullable = true)
 |-- religion: string (nullable = true)
 |-- activity: string (nullable = true)
 |-- color: string (nullable = true)
 |-- weight: integer (nullable = true)
 |-- budget: string (nullable = true)
 |-- height: double (nullable = true)

##adding a new column to an existing DataFrame

In [13]:
from pyspark.sql.functions import lit

# Add a new column 'income' with a default value
df = df.withColumn("income", lit(50000))  # Default value: 50,000

df.printSchema()

df.show(5, truncate=False)

root
 |-- userID: string (nullable = true)
 |-- latitude: double (nullable = true)
 |-- longitude: double (nullable = true)
 |-- smoker: string (nullable = true)
 |-- drink_level: string (nullable = true)
 |-- dress_preference: string (nullable = true)
 |-- ambience: string (nullable = true)
 |-- transport: string (nullable = true)
 |-- marital_status: string (nullable = true)
 |-- hijos: string (nullable = true)
 |-- birth_year: integer (nullable = true)
 |-- interest: string (nullable = true)
 |-- personality: string (nullable = true)
 |-- religion: string (nullable = true)
 |-- activity: string (nullable = true)
 |-- color: string (nullable = true)
 |-- weight: integer (nullable = true)
 |-- budget: string (nullable = true)
 |-- height: double (nullable = true)
 |-- income: integer (nullable = false)

+------+---------+-----------+------+--------------+----------------+--------+---------+--------------+-----------+----------+----------+-------------------+--------+------------+-----+------+------+------+------+
|userID|latitude |longitude  |smoker|drink_level   |dress_preference|ambience|transport|marital_status|hijos      |birth_year|interest  |personality        |religion|activity    |color|weight|budget|height|income|
+------+---------+-----------+------+--------------+----------------+--------+---------+--------------+-----------+----------+----------+-------------------+--------+------------+-----+------+------+------+------+
|U1001 |22.139997|-100.978803|false |abstemious    |informal        |family  |on foot  |single        |independent|1989      |variety   |thrifty-protector  |none    |student     |black|69    |medium|1.77  |50000 |
|U1002 |22.150087|-100.983325|false |abstemious    |informal        |family  |public   |single        |independent|1990      |technology|hunter-ostentatious|Catholic|student     |red  |40    |low   |1.87  |50000 |
|U1003 |22.119847|-100.946527|false |social drinker|formal          |family  |public   |single        |independent|1989      |none      |hard-worker        |Catholic|student     |blue |60    |low   |1.69  |50000 |
|U1004 |18.867   |-99.183    |false |abstemious    |informal        |family  |public   |single        |independent|1940      |variety   |hard-worker        |none    |professional|green|44    |medium|1.53  |50000 |
|U1005 |22.183477|-100.959891|false |abstemious    |no preference   |family  |public   |single        |independent|1992      |none      |thrifty-protector  |Catholic|student     |black|65    |medium|1.69  |50000 |
+------+---------+-----------+------+--------------+----------------+--------+---------+--------------+-----------+----------+----------+-------------------+--------+------------+-----+------+------+------+------+
only showing top 5 rows

##Changing Data Type (smoker from string → boolean)

In [14]:
from pyspark.sql.types import BooleanType
from pyspark.sql.functions import col, when

# Convert 'smoker' column string  to Boolean
df = df.withColumn("smoker", when(col("smoker") == "true", True)
                             .when(col("smoker") == "false", False)
                             .cast(BooleanType()))

df.printSchema()
df.show(5, truncate=False)

root
 |-- userID: string (nullable = true)
 |-- latitude: double (nullable = true)
 |-- longitude: double (nullable = true)
 |-- smoker: boolean (nullable = true)
 |-- drink_level: string (nullable = true)
 |-- dress_preference: string (nullable = true)
 |-- ambience: string (nullable = true)
 |-- transport: string (nullable = true)
 |-- marital_status: string (nullable = true)
 |-- hijos: string (nullable = true)
 |-- birth_year: integer (nullable = true)
 |-- interest: string (nullable = true)
 |-- personality: string (nullable = true)
 |-- religion: string (nullable = true)
 |-- activity: string (nullable = true)
 |-- color: string (nullable = true)
 |-- weight: integer (nullable = true)
 |-- budget: string (nullable = true)
 |-- height: double (nullable = true)
 |-- income: integer (nullable = false)

+------+---------+-----------+------+--------------+----------------+--------+---------+--------------+-----------+----------+----------+-------------------+--------+------------+-----+------+------+------+------+
|userID|latitude |longitude  |smoker|drink_level   |dress_preference|ambience|transport|marital_status|hijos      |birth_year|interest  |personality        |religion|activity    |color|weight|budget|height|income|
+------+---------+-----------+------+--------------+----------------+--------+---------+--------------+-----------+----------+----------+-------------------+--------+------------+-----+------+------+------+------+
|U1001 |22.139997|-100.978803|false |abstemious    |informal        |family  |on foot  |single        |independent|1989      |variety   |thrifty-protector  |none    |student     |black|69    |medium|1.77  |50000 |
|U1002 |22.150087|-100.983325|false |abstemious    |informal        |family  |public   |single        |independent|1990      |technology|hunter-ostentatious|Catholic|student     |red  |40    |low   |1.87  |50000 |
|U1003 |22.119847|-100.946527|false |social drinker|formal          |family  |public   |single        |independent|1989      |none      |hard-worker        |Catholic|student     |blue |60    |low   |1.69  |50000 |
|U1004 |18.867   |-99.183    |false |abstemious    |informal        |family  |public   |single        |independent|1940      |variety   |hard-worker        |none    |professional|green|44    |medium|1.53  |50000 |
|U1005 |22.183477|-100.959891|false |abstemious    |no preference   |family  |public   |single        |independent|1992      |none      |thrifty-protector  |Catholic|student     |black|65    |medium|1.69  |50000 |
+------+---------+-----------+------+--------------+----------------+--------+---------+--------------+-----------+----------+----------+-------------------+--------+------------+-----+------+------+------+------+
only showing top 5 rows

##Removing a Column (income)

In [15]:
df = df.drop("income")

# Show updated schema
df.printSchema()

# Show updated data
df.show(5, truncate=False)

root
 |-- userID: string (nullable = true)
 |-- latitude: double (nullable = true)
 |-- longitude: double (nullable = true)
 |-- smoker: boolean (nullable = true)
 |-- drink_level: string (nullable = true)
 |-- dress_preference: string (nullable = true)
 |-- ambience: string (nullable = true)
 |-- transport: string (nullable = true)
 |-- marital_status: string (nullable = true)
 |-- hijos: string (nullable = true)
 |-- birth_year: integer (nullable = true)
 |-- interest: string (nullable = true)
 |-- personality: string (nullable = true)
 |-- religion: string (nullable = true)
 |-- activity: string (nullable = true)
 |-- color: string (nullable = true)
 |-- weight: integer (nullable = true)
 |-- budget: string (nullable = true)
 |-- height: double (nullable = true)

+------+---------+-----------+------+--------------+----------------+--------+---------+--------------+-----------+----------+----------+-------------------+--------+------------+-----+------+------+------+
|userID|latitude |longitude  |smoker|drink_level   |dress_preference|ambience|transport|marital_status|hijos      |birth_year|interest  |personality        |religion|activity    |color|weight|budget|height|
+------+---------+-----------+------+--------------+----------------+--------+---------+--------------+-----------+----------+----------+-------------------+--------+------------+-----+------+------+------+
|U1001 |22.139997|-100.978803|false |abstemious    |informal        |family  |on foot  |single        |independent|1989      |variety   |thrifty-protector  |none    |student     |black|69    |medium|1.77  |
|U1002 |22.150087|-100.983325|false |abstemious    |informal        |family  |public   |single        |independent|1990      |technology|hunter-ostentatious|Catholic|student     |red  |40    |low   |1.87  |
|U1003 |22.119847|-100.946527|false |social drinker|formal          |family  |public   |single        |independent|1989      |none      |hard-worker        |Catholic|student     |blue |60    |low   |1.69  |
|U1004 |18.867   |-99.183    |false |abstemious    |informal        |family  |public   |single        |independent|1940      |variety   |hard-worker        |none    |professional|green|44    |medium|1.53  |
|U1005 |22.183477|-100.959891|false |abstemious    |no preference   |family  |public   |single        |independent|1992      |none      |thrifty-protector  |Catholic|student     |black|65    |medium|1.69  |
+------+---------+-----------+------+--------------+----------------+--------+---------+--------------+-----------+----------+----------+-------------------+--------+------------+-----+------+------+------+
only showing top 5 rows

##Merging Two DataFrames with Different Schemas

In [17]:
from pyspark.sql import Row

# Create a new DataFrame with an extra column "income"
data_new = [
    Row(userID="U2001", latitude=20.0, longitude=-100.0, smoker=False, income=60000),
    Row(userID="U2002", latitude=21.0, longitude=-101.0, smoker=True, income=75000)
]
df_new = spark.createDataFrame(data_new)

# Merge DataFrames using `unionByName()` (fills missing columns with NULL)
df_merged = df.unionByName(df_new, allowMissingColumns=True)

# Show updated schema
df_merged.printSchema()




# Show merged data
df_merged.show(5, truncate=False)

root
 |-- userID: string (nullable = true)
 |-- latitude: double (nullable = true)
 |-- longitude: double (nullable = true)
 |-- smoker: boolean (nullable = true)
 |-- drink_level: string (nullable = true)
 |-- dress_preference: string (nullable = true)
 |-- ambience: string (nullable = true)
 |-- transport: string (nullable = true)
 |-- marital_status: string (nullable = true)
 |-- hijos: string (nullable = true)
 |-- birth_year: integer (nullable = true)
 |-- interest: string (nullable = true)
 |-- personality: string (nullable = true)
 |-- religion: string (nullable = true)
 |-- activity: string (nullable = true)
 |-- color: string (nullable = true)
 |-- weight: integer (nullable = true)
 |-- budget: string (nullable = true)
 |-- height: double (nullable = true)
 |-- income: long (nullable = true)

+------+---------+-----------+------+--------------+----------------+--------+---------+--------------+-----------+----------+----------+-------------------+--------+------------+-----+------+------+------+------+
|userID|latitude |longitude  |smoker|drink_level   |dress_preference|ambience|transport|marital_status|hijos      |birth_year|interest  |personality        |religion|activity    |color|weight|budget|height|income|
+------+---------+-----------+------+--------------+----------------+--------+---------+--------------+-----------+----------+----------+-------------------+--------+------------+-----+------+------+------+------+
|U1001 |22.139997|-100.978803|false |abstemious    |informal        |family  |on foot  |single        |independent|1989      |variety   |thrifty-protector  |none    |student     |black|69    |medium|1.77  |NULL  |
|U1002 |22.150087|-100.983325|false |abstemious    |informal        |family  |public   |single        |independent|1990      |technology|hunter-ostentatious|Catholic|student     |red  |40    |low   |1.87  |NULL  |
|U1003 |22.119847|-100.946527|false |social drinker|formal          |family  |public   |single        |independent|1989      |none      |hard-worker        |Catholic|student     |blue |60    |low   |1.69  |NULL  |
|U1004 |18.867   |-99.183    |false |abstemious    |informal        |family  |public   |single        |independent|1940      |variety   |hard-worker        |none    |professional|green|44    |medium|1.53  |NULL  |
|U1005 |22.183477|-100.959891|false |abstemious    |no preference   |family  |public   |single        |independent|1992      |none      |thrifty-protector  |Catholic|student     |black|65    |medium|1.69  |NULL  |
+------+---------+-----------+------+--------------+----------------+--------+---------+--------------+-----------+----------+----------+-------------------+--------+------------+-----+------+------+------+------+
only showing top 5 rows

##SQL Queries on PySpark DataFrames

First, i need to register your DataFrame as a temporary SQL table, and then i can run SQL queries on it.

In [20]:
df.createOrReplaceTempView("users")

In [32]:
df_sql = spark.sql("SELECT * FROM users")
df_ori=df_sql
df_sql.show()

+------+---------+-----------+------+--------------+----------------+--------+---------+--------------+-----------+----------+------------+-------------------+---------+------------+------+------+------+------+
|userID| latitude|  longitude|smoker|   drink_level|dress_preference|ambience|transport|marital_status|      hijos|birth_year|    interest|        personality| religion|    activity| color|weight|budget|height|
+------+---------+-----------+------+--------------+----------------+--------+---------+--------------+-----------+----------+------------+-------------------+---------+------------+------+------+------+------+
| U1001|22.139997|-100.978803| false|    abstemious|        informal|  family|  on foot|        single|independent|      1989|     variety|  thrifty-protector|     none|     student| black|    69|medium|  1.77|
| U1002|22.150087|-100.983325| false|    abstemious|        informal|  family|   public|        single|independent|      1990|  technology|hunter-ostentatious| Catholic|     student|   red|    40|   low|  1.87|
| U1003|22.119847|-100.946527| false|social drinker|          formal|  family|   public|        single|independent|      1989|        none|        hard-worker| Catholic|     student|  blue|    60|   low|  1.69|
| U1004|   18.867|    -99.183| false|    abstemious|        informal|  family|   public|        single|independent|      1940|     variety|        hard-worker|     none|professional| green|    44|medium|  1.53|
| U1005|22.183477|-100.959891| false|    abstemious|   no preference|  family|   public|        single|independent|      1992|        none|  thrifty-protector| Catholic|     student| black|    65|medium|  1.69|
| U1006|    22.15|   -100.983|  true|social drinker|   no preference| friends|car owner|        single|independent|      1989|     variety|        hard-worker|     none|     student|  blue|    75|medium|   1.8|
| U1007|22.118464|-100.938256| false|casual drinker|        informal|solitary|   public|        single|independent|      1989|     variety|  thrifty-protector| Catholic|     student|purple|    60|   low|  1.59|
| U1008|22.122989|-100.923811| false|social drinker|          formal|solitary|   public|        single|independent|      1989|  technology|        hard-worker| Catholic|     student| green|    68|   low|  1.72|
| U1009|22.159427|-100.990448| false|    abstemious|          formal|  family|  on foot|        single|       kids|      1991|     variety|  thrifty-protector| Catholic|     student| green|    75|medium|  1.78|
| U1010|22.190889|-100.998669| false|social drinker|   no preference| friends|car owner|       married|       kids|      1987|  technology|        hard-worker|     none|     student| green|    40|medium|  1.67|
| U1011|23.724972| -99.152856| false|    abstemious|   no preference|  family|   public|        single|independent|      1989|     variety|        hard-worker| Catholic|     student|purple|    68|medium|  1.78|
| U1012|18.813348| -99.243697| false|casual drinker|          formal|  family|   public|        single|independent|      1988|  technology|        hard-worker| Catholic|     student|   red|    98|medium|  1.84|
| U1013|22.174624|-100.993873| false|    abstemious|   no preference| friends|   public|         widow|independent|      1982|       retro|  thrifty-protector|     none|professional|  blue|    80|medium|  1.75|
| U1014|23.751607| -99.170108| false|    abstemious|               ?| friends|   public|        single|independent|      1990|        none|        hard-worker| Catholic|     student|  blue|    53|medium|  1.69|
| U1015| 22.12676|-100.905209|  true|social drinker|        informal|  family|   public|        single|independent|      1989|  technology|  thrifty-protector| Catholic|     student| black|    87|medium|  1.67|
| U1016|22.156247|-100.977402| false|casual drinker|        informal| friends|  on foot|        single|independent|      1991|eco-friendly|  thrifty-protector| Catholic|     student| green|    70|medium|  1.67|
| U1017|18.952615| -99.201616| false|casual drinker|          formal|  family|   public|        single|          ?|      1991|       retro|hunter-ostentatious|     none|professional|orange|    79|medium|  1.79|
| U1018|22.190949|-100.917902|  true|casual drinker|          formal| friends|   public|        single|independent|      1989|  technology|  thrifty-protector|Christian|     student|  blue|    65|   low|  1.83|
| U1019|22.153385|-100.975294| false|casual drinker|   no preference|  family|   public|        single|independent|      1989|     variety|  thrifty-protector| Catholic|     student|purple|    59|medium|   1.6|
| U1020|18.878189| -99.222969| false|    abstemious|   no preference| friends|   public|        single|independent|      1982|  technology|        hard-worker| Catholic|professional|  blue|    40|medium|  1.68|
+------+---------+-----------+------+--------------+----------------+--------+---------+--------------+-----------+----------+------------+-------------------+---------+------------+------+------+------+------+
only showing top 20 rows

In [24]:
df_sql = spark.sql("SELECT userID, smoker, drink_level FROM users")
df_sql.show(10)

+------+------+--------------+
|userID|smoker|   drink_level|
+------+------+--------------+
| U1001| false|    abstemious|
| U1002| false|    abstemious|
| U1003| false|social drinker|
| U1004| false|    abstemious|
| U1005| false|    abstemious|
| U1006|  true|social drinker|
| U1007| false|casual drinker|
| U1008| false|social drinker|
| U1009| false|    abstemious|
| U1010| false|social drinker|
+------+------+--------------+
only showing top 10 rows

In [25]:
#Filtering Data (WHERE Clause)
df_sql = spark.sql("SELECT * FROM users WHERE smoker = 'false'")
df_sql.show()

+------+---------+-----------+------+--------------+----------------+--------+---------+--------------+-----------+----------+------------+-------------------+--------+------------+------+------+------+------+
|userID| latitude|  longitude|smoker|   drink_level|dress_preference|ambience|transport|marital_status|      hijos|birth_year|    interest|        personality|religion|    activity| color|weight|budget|height|
+------+---------+-----------+------+--------------+----------------+--------+---------+--------------+-----------+----------+------------+-------------------+--------+------------+------+------+------+------+
| U1001|22.139997|-100.978803| false|    abstemious|        informal|  family|  on foot|        single|independent|      1989|     variety|  thrifty-protector|    none|     student| black|    69|medium|  1.77|
| U1002|22.150087|-100.983325| false|    abstemious|        informal|  family|   public|        single|independent|      1990|  technology|hunter-ostentatious|Catholic|     student|   red|    40|   low|  1.87|
| U1003|22.119847|-100.946527| false|social drinker|          formal|  family|   public|        single|independent|      1989|        none|        hard-worker|Catholic|     student|  blue|    60|   low|  1.69|
| U1004|   18.867|    -99.183| false|    abstemious|        informal|  family|   public|        single|independent|      1940|     variety|        hard-worker|    none|professional| green|    44|medium|  1.53|
| U1005|22.183477|-100.959891| false|    abstemious|   no preference|  family|   public|        single|independent|      1992|        none|  thrifty-protector|Catholic|     student| black|    65|medium|  1.69|
| U1007|22.118464|-100.938256| false|casual drinker|        informal|solitary|   public|        single|independent|      1989|     variety|  thrifty-protector|Catholic|     student|purple|    60|   low|  1.59|
| U1008|22.122989|-100.923811| false|social drinker|          formal|solitary|   public|        single|independent|      1989|  technology|        hard-worker|Catholic|     student| green|    68|   low|  1.72|
| U1009|22.159427|-100.990448| false|    abstemious|          formal|  family|  on foot|        single|       kids|      1991|     variety|  thrifty-protector|Catholic|     student| green|    75|medium|  1.78|
| U1010|22.190889|-100.998669| false|social drinker|   no preference| friends|car owner|       married|       kids|      1987|  technology|        hard-worker|    none|     student| green|    40|medium|  1.67|
| U1011|23.724972| -99.152856| false|    abstemious|   no preference|  family|   public|        single|independent|      1989|     variety|        hard-worker|Catholic|     student|purple|    68|medium|  1.78|
| U1012|18.813348| -99.243697| false|casual drinker|          formal|  family|   public|        single|independent|      1988|  technology|        hard-worker|Catholic|     student|   red|    98|medium|  1.84|
| U1013|22.174624|-100.993873| false|    abstemious|   no preference| friends|   public|         widow|independent|      1982|       retro|  thrifty-protector|    none|professional|  blue|    80|medium|  1.75|
| U1014|23.751607| -99.170108| false|    abstemious|               ?| friends|   public|        single|independent|      1990|        none|        hard-worker|Catholic|     student|  blue|    53|medium|  1.69|
| U1016|22.156247|-100.977402| false|casual drinker|        informal| friends|  on foot|        single|independent|      1991|eco-friendly|  thrifty-protector|Catholic|     student| green|    70|medium|  1.67|
| U1017|18.952615| -99.201616| false|casual drinker|          formal|  family|   public|        single|          ?|      1991|       retro|hunter-ostentatious|    none|professional|orange|    79|medium|  1.79|
| U1019|22.153385|-100.975294| false|casual drinker|   no preference|  family|   public|        single|independent|      1989|     variety|  thrifty-protector|Catholic|     student|purple|    59|medium|   1.6|
| U1020|18.878189| -99.222969| false|    abstemious|   no preference| friends|   public|        single|independent|      1982|  technology|        hard-worker|Catholic|professional|  blue|    40|medium|  1.68|
| U1021|23.730569| -99.171883| false|social drinker|   no preference|  family|car owner|        single|  dependent|      1984|        none|        hard-worker|Catholic|     student|purple|   108|medium|  1.62|
| U1022|22.146708|-100.964355| false|casual drinker|          formal|  family|car owner|        single|independent|      1990|     variety|        hard-worker|Catholic|     student|purple|    46|medium|  1.54|
| U1023|23.752943| -99.166589| false|casual drinker|        informal| friends|car owner|        single|independent|      1988|        none|        hard-worker|Catholic|     student|  blue|   103|   low|  1.79|
+------+---------+-----------+------+--------------+----------------+--------+---------+--------------+-----------+----------+------------+-------------------+--------+------------+------+------+------+------+
only showing top 20 rows

In [27]:
#Ordering Data (ORDER BY)
df_sql = spark.sql("SELECT * FROM users ORDER BY birth_year DESC")
df_sql.show(10)

+------+---------+-----------+------+--------------+----------------+--------+---------+--------------+-----------+----------+------------+-----------------+--------+----------+------+------+------+------+
|userID| latitude|  longitude|smoker|   drink_level|dress_preference|ambience|transport|marital_status|      hijos|birth_year|    interest|      personality|religion|  activity| color|weight|budget|height|
+------+---------+-----------+------+--------------+----------------+--------+---------+--------------+-----------+----------+------------+-----------------+--------+----------+------+------+------+------+
| U1040|18.895187|  -99.18039| false|    abstemious|   no preference| friends|   public|        single|independent|      1994|        none|thrifty-protector|Catholic|   student|  blue|    73|medium|  1.64|
| U1110|18.871678| -99.183263| false|    abstemious|   no preference|  family|car owner|        single|independent|      1993|     variety|thrifty-protector|Catholic|   student|   red|    85|medium|  1.75|
| U1047|22.142429|-100.949147| false|    abstemious|   no preference|  family|   public|        single|independent|      1992|       retro|thrifty-protector|Catholic|   student|purple|    60|medium|  1.63|
| U1031|23.735698| -99.159851| false|    abstemious|        informal|solitary|        ?|       married|       kids|      1992|        none|      hard-worker|Catholic|unemployed| white|    40|medium|   1.6|
| U1005|22.183477|-100.959891| false|    abstemious|   no preference|  family|   public|        single|independent|      1992|        none|thrifty-protector|Catholic|   student| black|    65|medium|  1.69|
| U1054|22.150683|-100.975342| false|social drinker|          formal|  family|   public|        single|independent|      1992|  technology|thrifty-protector|Catholic|   student|  blue|    59|medium|   1.7|
| U1079|   18.917|     -99.25| false|    abstemious|          formal|  family|   public|        single|independent|      1992|  technology|thrifty-protector|Catholic|         ?| black|    53|medium|  1.55|
| U1119| 18.96479| -99.260017| false|    abstemious|          formal|  family|   public|        single|independent|      1992|eco-friendly|thrifty-protector|Catholic|   student|  blue|    68|medium|  1.68|
| U1127|18.943935| -99.206532| false|    abstemious|   no preference|solitary|   public|        single|independent|      1992|     variety|      hard-worker|Catholic|   student| black|    65|   low|  1.76|
| U1058|22.205802|-100.986081| false|    abstemious|          formal|  family|   public|        single|independent|      1991|     variety|      hard-worker|Catholic|   student|   red|    74|   low|  1.78|
+------+---------+-----------+------+--------------+----------------+--------+---------+--------------+-----------+----------+------------+-----------------+--------+----------+------+------+------+------+
only showing top 10 rows

In [30]:
#Count the number of users by drink_level
df_sql = spark.sql("SELECT drink_level, COUNT(*) as count FROM users GROUP BY drink_level")
df_sql.show()

+--------------+-----+
|   drink_level|count|
+--------------+-----+
|    abstemious|   51|
|casual drinker|   47|
|social drinker|   40|
+--------------+-----+

In [34]:
#Count the number of users by marital_status only married
df_ori = spark.sql("SELECT marital_status, COUNT(*) as count FROM users WHERE marital_status = 'married' GROUP BY marital_status")
df_ori.show()

+--------------+-----+
|marital_status|count|
+--------------+-----+
|       married|   10|
+--------------+-----+

In [35]:
#Filter drink levels with more than 2 users
df_sql = spark.sql("SELECT drink_level, COUNT(*) as count FROM users GROUP BY drink_level HAVING count > 2")
df_sql.show()

+--------------+-----+
|   drink_level|count|
+--------------+-----+
|    abstemious|   51|
|casual drinker|   47|
|social drinker|   40|
+--------------+-----+

In [38]:
from pyspark.sql import SparkSession
from pyspark.sql.types import StructType, StructField, StringType, IntegerType

spark = SparkSession.builder.appName("SQL Example").getOrCreate()

# Define schema
schema = StructType([
    StructField("userID", StringType(), True),
    StructField("income", IntegerType(), True)
])
data = [
    ("U1001", 50000),
    ("U1002", 45000),
    ("U1003", 60000),
    ("U1004", 55000),
    ("U1005", 48000)
]

# Create DataFrame
df_income = spark.createDataFrame(data, schema=schema)

# Register as SQL Table
df_income.createOrReplaceTempView("income_data")

In [39]:
#Using JOIN with Another DataFrame
df_income.createOrReplaceTempView("income_data")
df_sql = spark.sql("""
    SELECT u.userID, u.smoker, u.drink_level, i.income
    FROM users u
    JOIN income_data i ON u.userID = i.userID
""")
df_sql.show()

+------+------+--------------+------+
|userID|smoker|   drink_level|income|
+------+------+--------------+------+
| U1001| false|    abstemious| 50000|
| U1002| false|    abstemious| 45000|
| U1003| false|social drinker| 60000|
| U1004| false|    abstemious| 55000|
| U1005| false|    abstemious| 48000|
+------+------+--------------+------+